.Form {
  margin: 0px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(21, 14, 14);
}

input{
  width: 168px;
  height: 25px;
}

select{
  width: 135px;
  height: 31px;
}

button{
  height: 31px;
}