.MusicList {
  padding-top: 10px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  color: rgb(86, 54, 54);
  .ListItem {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: stretch;
  }
  div {
    width: 860px;
  }
}

.artist {
  width: 200px;
  color: rgb(67, 0, 0);
}
.rating {
  font-size: 12px;
}

li button {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8;
  border: none;
  height: 18px;
  width: 60px;
  border-radius: 3px;
}
li button:hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}
li button:active {
  border: none;
}

li button:focus {
  border: none;
}