.MusicList {
  padding-top: 10px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  color: rgb(86, 54, 54);
  .ListItem {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: stretch;
  }
  div {
    width: 800px;
  }
}

.artist {
  width: 200px;
  color: rgb(67, 0, 0);
}

li button {
  opacity: 0.8;
  border: none;
  height: 18px;
  width: 60px;
  background-color: rgb(92, 72, 72);
  border-radius: 3px;
}
