@import "../../_typography";
@import "../../_variables";

.ContainerOn {
  display: inline;
  background-color: "gray";
  font-family: $font-family;
}

.ContainerOff {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AboutOn {
  display: flex;
  justify-content: center;
}

.AboutOff {
  display: none;
}

button {
  width: 80px;
  border-radius: 4px;
  background-color: rgb(92, 72, 72);
}
button:hover {
  background-color: rgb(116, 92, 92);
}
button:focus {
  outline: none;
  border: 2px solid rgb(201, 201, 201);
}

.text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: center;
  .quote {
    font-style: italic;
    color: rgb(74, 47, 47);
  }
}
