body{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(43, 56, 56);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

#body-color{
  background-color: rgb(250, 250, 250);
}

#color-heading{
  text-align: right;
  margin-top: 75px;
  font-weight: 500;
  font-size: 60px;
  padding-right: 20px ;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* title and menu bar*/
.nav-main{
  position:fixed;
  font-size: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  background-color: rgb(43, 56, 56);
  color: #fff;
}
.change{
  line-height: 10px;
}

.nav-btn{
  width: 40px;
  height: 40px;
  font-size: 26px;
  padding-left: 15px;
  padding-top: 5px;
  background-color: rgb(43, 56, 56);
  cursor: pointer;
}

.nav-btn:hover{
  opacity: 60%;
}

.nav-main ul{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px; 
}

.nav-main ul li{
  list-style: none;
  line-height: 25px;
  font-size: 20px; 
}

.nav-main ul li a{
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

.nav-sidebar{
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 50px);
  padding: 0 5px;
  background-color: rgb(54, 68, 68);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul{
 padding-top: 15px;
 overflow: hidden;
 visibility: hidden;
}

.nav-sidebar ul li{
  line-height: 30px;
  list-style: none;
  cursor: pointer;
}

.header{
  display: block;
  height: 55px;
  padding-left: 0px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(43, 56, 56);
  font-size: 20px; 
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


.nav-sidebar ul li span, .nav-sidebar ul li a{
 display: block;
 height: 55px;
 padding-left: 0px;
 padding-right: 10px;
 text-decoration: none;
 text-transform: uppercase;
 color: #fff;
 font-size: 20px; 
 white-space: nowrap;
 opacity: 0;
 transition: all 0.2s ease-in-out;
}
.nav-sidebar ul li span{
  color:rgb(22, 22, 22);
  font-size: 20px; 
  cursor: default;
}

#whiteb:hover{
  color: rgb(196, 196, 196);
}

#yellow:hover{
  color: rgb(241, 215, 126);
}

#red:hover{
  color: rgb(182, 80, 66);
}

#green:hover{
  color: rgb(81, 128, 88);
}

#azul:hover{
  color: rgb(33, 145, 139);
}

#blue:hover{
  color: rgb(51, 124, 153);
}

#gray:hover{
  color: rgb(134, 147, 153);
}

@media screen and (max-width : 720px){

  .nav-main ul li{
    list-style: none;
    line-height: 20px;
    font-size: 14px; 
  }

  .nav-sidebar ul li span, .nav-sidebar ul li a{
    display: block;
    height: 40px;
  }

  #color-heading{
    text-align: right;
    margin-top: 80px;
    font-weight: 500;
    font-size: 40px;
  }
  .change{
    line-height: 10px;
    font-size: 16px;
  }

  .header{
    display: block;
    height: 40px;
  }
}